<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <title>TA Rogo</title>
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Tugas Akhir Rogo</a>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="well">
            <strong>Ketentuan kalimat yang dianalisa:</strong>

            <ol>
                <br>
                <li>Kalimat HARUS dalam Bahasa Inggris</li>
                <li>Kalimat ulasan HARUS dalam domain restoran</li>
            </ol>
            <br>

            <p>Contoh kalimat:</p>
            <ul>
                <li>The fish taco is delicious</li>
                <li>Here the hot dog is amazingly delicious</li>
                <li>The staff was very rude and the wait for the table is ineffective</li>
            </ul>
        </div>

        <form action="/action_page.php">
            <div class="form-group">
                <label for="email">Masukkan kalimat ulasan:</label>
                <input type="email" class="form-control" id="email">
            </div>

            <button type="analyze" class="btn btn-default">Analisa</button>
        </form>
    </div>

</body>

</html>