<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <title>TA Rogo</title>
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Tugas Akhir Rogo</a>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="well">
            <strong>Ketentuan kalimat yang dianalisa:</strong>

            <ol>
                <br>
                <li>Kalimat HARUS dalam Bahasa Inggris</li>
                <li>Kalimat ulasan HARUS dalam domain restoran</li>
            </ol>
            <br>

            <p>Contoh kalimat:</p>
            <ul>
                <li>The fish taco is delicious</li>
                <li>Here the hot dog is amazingly delicious</li>
                <li>The staff was very rude and the wait for the table is ineffective</li>
            </ul>
        </div>

        <form action="" id="form-kalimat">
            <div class="form-group">
                <label for="text">Masukkan kalimat ulasan:</label>
                <input type="text" class="form-control" id="kalimat-text">
            </div>

            <div class="row text-center">

                <button type="submit" id="submit-kalimat-btn" class="btn btn-success">Analisa</button>

            </div>
        </form>
        <br>
        <div id="result"></div>

    </div>

    <script>
        $("#form-kalimat").submit((event) => {
            event.preventDefault()

            let sentenceData = $("#kalimat-text").val()
            let dataObj = Object()
            dataObj.sentence = sentenceData
            // console.log(JSON.stringify(dataObj))

            $.ajax({
                type: "POST",
                url: "http://localhost:5000/analyze",
                contentType: 'application/json; charset=UTF-8',
                data: JSON.stringify(dataObj),
                success: (resp) => {
                    let respObj = resp

                    let tableContent = "<table class='table table-striped' id='table-result'>"
                    tableContent += "<thead>"
                    tableContent += "</tr>"
                    tableContent += "<th style='text-align:center'>Aspek</th>"
                    tableContent += "<th style='text-align:center'>Polaritas Sentimen</th>"
                    tableContent += "</tr>"
                    tableContent += "</thead>"
                    tableContent += "<tbody>"

                    Object.entries(respObj.result).forEach(entry => {
                        tableContent += "<tr>"
                        tableContent += "<td style='text-align:center'>" + entry[0] + "</td>"
                        // tableContent += "<td style='text-align:center'>" + entry[1] + "</td>"
                        if (entry[1] === "positive") {
                            tableContent += "<td class='col-md-6' style='text-align:center; color:blue'>" + entry[1] + "</td>"
                        }
                        else if (entry[1] === "negative") {
                            tableContent += "<td class='col-md-6' style='text-align:center; color:red'>" + entry[1] + "</td>"
                        }
                        else {
                            tableContent += "<td class='col-md-6' style='text-align:center; color:green'>" + entry[1] + "</td>"
                        }

                        tableContent += "</tr>"
                    })

                    tableContent += "</tbody>"
                    tableContent += "</table>"

                    console.log(tableContent)

                    $('#result').html(tableContent)
                },
                error: (xhr, ajaxOptions, thrownError) => {
                    $("#status").text("error")
                    console.log(xhr.responseText)
                }
            });

            $("#result").html("<strong><p style='text-align: center'>Menganalisa...</p></strong>")

        })
    </script>
</body>

</html>